body {
    background: url("/img/background.webp") no-repeat center center fixed;
    background-size: cover;
}

.container {
    width: 80%;
    height: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 25px;
}

.logo-container {
    position: absolute;
    left: 64px;
    top: 50%;
    transform: translateY(-50%);
}

.logo {
    height: 256px;
    width: 256px;
    border-radius: 100%;
}

.text-container {
    position: absolute;
    top: 256px;
    left: 340px;
    transform: translateY(-50%);
    color: #333;
}

.text-container h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 24px;
}

.text-container p {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 48px;
}

.text-container button {
    padding: 16px 32px;
    border-radius: 10px;
    background-color: deeppink;
    color: #fff;
    border: none;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
}

.text-container button:hover {
    background-color: pink;
    color: #333;
}

@media (min-width: 768px) {
    .logo-container {
        left: 64px;
        top: 50%;
        transform: translateY(-50%);
    }

    .logo {
        height: 256px;
        width: 256px;
    }

    .text-container {
        top: 256px;
        left: 340px;
        transform: translateY(-50%);
    }

    .text-container h1 {
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 24px;
    }

    .text-container p {
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 48px;
    }

    .text-container button {
        padding: 16px 32px;
        font-size: 24px;
        font-weight: 700;
    }
}

@media (max-width: 768px) {
    .logo-container {
        left: 50%;
        top: 30px;
        transform: translateX(-50%);
    }

    .logo {
        height: 240px;
        width: 240px;
    }

    .text-container {
        left: 50%;
        top: 280px;
        transform: translateX(-50%);
    }

    .text-container h1 {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .text-container p {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 48px;
    }

    .text-container button {
        padding: 14px 30px;
        font-size: 20px;
        font-weight: 700;
    }
}